.news-ticker-fox {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  overflow: hidden;
  background: #000000;
}
.news-ticker-fox-content {
  /*width: 550%;
  padding-left: 100%;
  */
  font-family: arial;
  font-size: 25px;
  font-weight: bold;
  color: #c69e2b;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-overflow: hidden;
  white-space: nowrap;
  animation: scroll 70s linear infinite;
}
@keyframes scroll {
  from { margin-left: 0; }
  to { margin-left: -550% ; }
}