@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#ticker-wrapper{
    /*position: fixed;
    top: 0;
    left: 0;*/
    height: 40px;
    border: 1px solid black;
	border-bottom: 0px;
    background: red;
}

#news-text, #nfl-text{
    position: absolute;
    /*top: 11.5px;*/
    /*left: 40px;*/
	/*text-align: center*/
	    display: flex;
    /* flex-direction: column;*/
    align-items: center; 
    /* justify-content: center;*/Z
    font-weight: bold;
    text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
}

#news-ticker, #nfl-ticker{
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    height: inherit;
    background: black;
    left: 130px;
    /*margin-top: -1px;*/
}



@keyframes scroll{
   0%   {left: 100px;}
   100% {left: -100%;}
}

@-webkit-keyframes scroll{
   0%   {left: 100px;}
   100% {left: -100%;}
}

#ticker-wrapper :hover{
   /*-webkit-animation-play-state:paused;
   animation-play-state:paused;*/
}

#news-ticker > div{
    position:relative;
    display: inline-block;
    height: 30px;
    margin-top: 9px;
    margin-left: 15px;
    margin-right: 15px;
    
    -webkit-animation-name: scroll; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    animation-name: scroll;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

a{
    color: white;
}

a:link{
    text-decoration: none;
}

a:hover{
    font-weight: bold;
    -webkit-animation-play-state:paused;
}