#ticker-wrapper{
    /*position: fixed;
    top: 0;
    left: 0;*/
    height: 40px;
    border: 1px solid black;
    background: red;
}

#news-text{
    position: absolute;
    top: 17px;
    left: 20px;
}

#news-ticker{
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    height: inherit;
    background: black;
    left: 130px;
    /*margin-top: -1px;*/
}

#news-ticker > div{
    display: inline-block;
    height: 30px;
    margin-top: 9px;
    margin-left: 15px;
    margin-right: 15px;
}

a{
    color: white;
}

a:link{
    text-decoration: none;
}

a:hover{
    font-weight: bold;
}